body{
    margin: 0;
    font-family: sans-serif;
}

footer{
    background-color: rgb(149, 189, 189);
    padding-left: 45px;
    padding-right: 45px;
}

.wrapper{
    max-width: 1300px;
    display: block;
    text-align: center;
    padding-inline: 600px;
    margin-left: 150px;
    margin-inline: 150px;
}

svg{
    padding-left:15px;
    padding-right:15px;
}

h2{
    text-decoration: underline;
}

.doba{
    display:table;
    text-align: left;

}

.cas{
    display:table;
    text-align: right;
}

.doba_a_cas{
    display: block; 
}

svg:hover{
    fill: red;
    transition: 0.5s ease;
}

.k{
    text-align: left;
}

.bold{
    font-weight: bold;
}
